//?COLOURS
$color-primary: #4070F4;
$color-white: #fff;
$color-black: #000000;
$color-dark:#0e2431;

$color-grey-dark: rgba(119, 119, 119, 0.281);
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
//?FONT SIZE
$default-font-size: 1.6rem;
$default-border-radius: 3px;
//?GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
