.education__container{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    @include respond(tab-port){ //width <= 600
        flex-direction: column;
        padding: 4rem 2rem;
    }
}
.education__info--box{
    border: 1px solid red;
    width: 40%;
    display: block;
    @include respond(tab-port){ //width <= 600
      text-align: center;
      width: 80%;
      margin-bottom: 4rem;
    }
}
.education__img-box{
    max-width: 45%;
    @include respond(tab-port){ //width <= 600
        max-width: 100%;
      }
    height: auto;
}
.education__img{
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    @include defaultShadow;
}