.nevigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 1rem 0;
    justify-content: space-around;
    @include respond(phone){ //width <= 600
        justify-content: space-between;
    }
    background-color: $color-white;
    @include defaultShadow;
    &__toggle{
        display: none;
        margin-right: 2rem;
        @include respond(phone){ //width <= 600
            display: block;
        }
        height: 4rem;
        i{
            font-size: 4rem;
        }
    }
    &__logoBox{
        padding:2rem;
    }
    &__logo{
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: $color-black;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        @include respond(phone){ //width <= 600
            display: none;
        }
        justify-content: center;
        width: 800px;
        align-items: center;
    }
    &__item{
        margin: 1.5rem;
    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        text-transform:capitalize;
        font-weight: 700;
        padding: 1rem;
        &:hover:not(.nevigation__active){
            border-bottom: 2.5px solid #4070F4;
            padding: 1rem;
        }
    }
}