.home__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include respond(tab-port){ //width <= 600
      flex-direction: column;
    }
}
.home__heading{
    margin-top: 5rem;
    @include respond(tab-port){ //width <= 600
        margin-top: 0;
        margin-left: 2rem;
      }
    h1{
        font-size: 6.5rem;
        span{
            color: $color-primary;
        }
    }
}
#myImage{
    width:50rem;
}

.home__image{
    max-width: 100%;
    height: auto;
}

.social__links{
    margin-top: 15rem;
    @include respond(tab-port){ //width <= 600
        margin-top: 5rem;
    }
    ul{
        list-style-type: none;
        display: flex;
        @include respond(tab-port){ //width <= 600
            flex-direction: column;
        }
        :not(:last-child){
            margin-right: 5rem;
        }
        @include respond(tab-port){ //width <= 600
            :not(:last-child){
                margin-right: 0;
            }
        }
        a{
            font-size: 3rem;
            color: $color-dark;
            @include respond(tab-port){ //width <= 600
                font-size: 4rem;
            }
        }
    }
}