main{
    position: relative;
    height: auto;
}
.mobile__nevigation{
    z-index: 1000;
    display: block;
    flex-direction: column;
    top: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: $color-dark;
    transition: .5s all;
    &--items{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
        display: none;
        a{
            text-decoration: none;
            text-transform: capitalize;
            color: $color-white;
            font-size: 2rem;
        }
    }
}
.width__display{
    width: 75%;
}
.nevDisp{
    display: block;
}