.mobile__nevigation{
    z-index: 1000;
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    position: absolute;
    width: 75%;
    height: 100vh;
    margin-top: 9.5rem;
    background-color: $color-dark;
    transition: .5s all;
    &--items{
        margin-bottom: 3rem;
        margin-left: 3rem;
        a{
            text-decoration: none;
            text-transform: capitalize;
            color: $color-white;
            font-size: 2rem;
        }
    }
}

.width__none{
    width: 0;
}

.width__display{
    width: 75%;
}