.project__row{
    display: flex;
    justify-content: center;
}
.project__card{
    width: 28%;
    @include  defaultShadow;
    text-align: center;
    padding: 2rem 1rem;
    &:not(:last-child){
        margin-right: 6rem;
    }
}

.source{
    margin-top: 2rem;
    a{
        text-decoration: none;
        text-transform: uppercase;
        background-color: $color-dark;
        color: $color-white;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: .8rem;
    }
}
.project__title{
    font-size: 2rem;
}
.project__image{
    width: 100%;
}
