.skills__container{
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
    @include respond(phone){ //width <= 600
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
    }
    .skills{
        width: 40%;
        @include respond(tab-port){ //width <= 600
            width: 90%;
        }
        padding: 7rem 0;
        &__data{
            display: flex;
            margin: auto;
            justify-content: space-between;
            padding: 1.5rem;
            position: relative;
            border-radius: .5rem;
            @include defaultShadowDark;
        }
        span{
            font-size: 1.8rem;
            font-weight: 600;
        }
        &__bar{
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $color-primary;
            height: .5rem;
            width: 70%;
            border-radius: .5rem;
            font-size: 4rem;
            z-index: 400;
        }
        &__1{
            width: 80%;
        }
        &__2{
            width: 75%;
        }
        &__3{
            width: 65%;
        }
        &__image{
            max-width: 100%;
            height: auto;
            @include defaultShadow;
            border-radius: .5rem;
        }
    }
}