.tect__container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--items{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        width: 100%;
        span{
            font-size: 2rem;
        }
        img{
            width: 5rem;
            margin-right: 2rem;
        }
    }
}