.tect__container{
    display: flex;
    border: 1px solid blue;
    @include respond(phone){ //width <= 600
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }

    &--items{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        @include respond(phone){ //width <= 600
            justify-content: flex-start;
            width: 50%;
        }
        width: 100%;
        span{
            font-size: 2rem;
        }
        img{
            width: 5rem;
            margin-right: 2rem;
        }
    }
}