.tect__container{
    max-width: 100%;
    display: flex;
    &:not(:last-child){
        margin-bottom: 8rem;
    }
    @include respond(phone){ //width <= 600
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }

    &--items{
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(phone){ //width <= 600
            justify-content: flex-start;
            width: 50%;
        }
        width: 100%;
        span{
            font-size: 2rem;
        }
        img{
            width: 5rem;
            margin-right: 2rem;
        }
    }
}